/* グローバルな設定 iOSのスクロール・跳ね返りを禁止(height100%)*/
* {margin:0px; padding:0px;}
body {
    width:500px;
    background-color: #000;
    height: :100%;
    }
.title {padding:10px; margin-top:44px;}
.main {padding-left:10px; margin:auto;}

.canvas {width:450px; height:400px; border:1px solid #5a70fa;}
.canvas canvas {width:450px; height:400px; margin:auto;}
